# Dependency directories
node_modules
jspm_packages
package-lock.json
yarn.lock
yarn-error.log

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Local Env Variables
.env

# Build directory
build

# Coverage directory
coverage
